.divide__container{
    width: 100%;
    height: 100vh;
    position: fixed;
    background: linear-gradient(to bottom, #00144f , #2D6BB6);
    top: 100vh;
    z-index: 2;
    left: 0;
    @media (min-width: 1000px) {
        display: none;
    }
}

@keyframes divideAnimation {
    0% {left: 0;}
    50% {left: -50%;}
    100% {left: -100%;}
}

.custom-shape-divider-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 200%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 40vh;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom .shape-fill {
    fill: #320063;
}

.divide__container--links{
    position: fixed;
    left: 8vw;
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 0;
    gap: 3vh;
    .links{
        font-size: 20px;
        text-transform: capitalize;
    }
    #logo{
        justify-content: center;
        align-items: center;
    }
    .nav{
        width: 90%;
        ul{
            flex-direction: column;
            li{
                padding: 1.5vh 0;
                width: 100%;
                margin: 3px 0;
                border: {
                    top: 2px solid #ffffff;
                    bottom: 2px solid #ffffff;
                }
                &:hover{
                    background: rgba(255, 138, 55, 0.876);
                }
            }
        }
    }
}

.logoAndExitBtn{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.exit__btn{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 10px 17px;
    font-family: $roboto__font;
    translate: -20px 0;
    path{
        fill: #ff8c37;
    }
    svg{
        width: 22px;
        height: 26px;
        rotate: 45deg;
        scale: 2;
        translate: 0px 1px;
    }
}